.switchr-container{
    position: relative;
    /* margin: 0 auto; */
    width: 70px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 1px 1px #aaa;
}

.switchr-bar{
    position: relative;
    background: #E04C4C;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switchr-slider{
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: 0px;
    cursor: pointer;
    border-radius: 9px;
    margin: 2px;
}

.switchr-text {
    position: absolute;
    color: #eee;
    left: 26px;
}
